.ContactForm {
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    padding: 20px;
}

.form-title {
    font-size: 28px;
    margin: 0 10px 25px 5px;
}

.ContactForm form {
    display: flex;
    flex-direction: column;
}

.form-btns {
    display: flex;
    flex-direction: column;
}

.form-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    font-size: 20px;
    border-radius: 4px;
    margin: 5px;
    padding: 15px 5px;
    transition-duration: 200ms;
}

.form-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (min-width: 800px) {

    .ContactForm {
        padding: 40px 20px;
        width: 70%;
    }

    .form-title {
        font-size: 45px;
    }

    .form-btns {
        flex-direction: row-reverse;
    }

    .form-btn {
        width: 200px;
    }
}