.ContactForm {
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    padding: 20px;
}

.form-title {
    font-size: 28px;
    margin: 0 10px 25px 5px;
}

.ContactForm form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin: 15px 5px;
}

.input-container label {
    position: absolute;
    top: -20px;
}

.checkbox-container label {
    top: 10px;
    left: 36px;
    font-size: 11px;
    width: 200px;
}

.input-container input {
    height: 30px;
    width: 200px;
}

.checkbox-container input {
    width: 30px;
    height: 30px;
    margin: 0;
}

.form-btns {
    display: flex;
    flex-direction: column;
}

.form-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    font-size: 20px;
    border-radius: 4px;
    margin: 5px;
    padding: 15px 5px;
    transition-duration: 200ms;
}

.form-btn:hover {
    transform: scale(1.05)
}

@media screen and (min-width: 800px) {

    .ContactForm {
        padding: 40px 20px;
        width: 70%;
    }

    .form-title {
        font-size: 45px;
    }

    .input-container {
        margin: 20px 5px;
    }

    .input-container label {
        top: -24px;
        font-size: 18px;
    }

    .checkbox-container label {
        top: 5px;
        left: 45px;
        font-size: 18px;
        width: 300px;
    }

    .input-container input {
        width: 400px;
    }

    .checkbox-container input {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .form-btns {
        flex-direction: row;
    }

    .form-btn {
        width: 200px;
    }
}